<%layout("layouts/boilerplate")%>

<h1><%= campground.title %></h1>
<h2><%= campground.location %></h2>

<img
  src="<%=campground.image%>"
  class="img-fluid mx-auto rounded img-thumbnail"
/>

<p><%=campground.description%></p>

<div>
  <a href="/campgrounds/<%=campground.id%>/edit">Update</a>
</div>

<!-- delete button with method override: -->
<form action="/campgrounds/<%=campground.id%>?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>

<footer>
  <a href="/campgrounds"> All Campgrounds </a>
</footer>
